.navbar-toggler:focus {
    outline: none;
}

.title-image {
    max-height: 4rem;
    height: auto;
    max-width: 100%;
}

.title-name {
    max-height: 3rem;
    height: auto;
    max-width: 80%;
}

.navbar .container-fluid {
    display: inline-flex;
}

.nav-item ::deep a.active {
    color: #8cb1bf;
}

@media (min-width: 992px) {
    .navbar-toggler {
        display: none;
    }

    .navbar .container-fluid {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .social-media {
        margin-top: 0.5rem;
    }
}

@media (max-width: 991.98px) {
    
    .navbar .container-fluid {
        flex-direction: column;
        width: 100%;
        align-items: flex-end;
    }
    
    .main-pages{
        text-align: center;
        padding-top: 1rem;
    }
    
    .social-media {
        padding-top: 3rem;
        padding-bottom: 2rem;
        padding-right: 0.2rem;
    }
}

@media (max-width: 490px) {
    .title-image {
        max-height: 3rem;
        padding-right: 0.5rem;
    }
    
    .title-name {
        max-height: 2rem;
        max-width: 80%;
    }
}

@media (max-width: 370px) {
    .title-name {
        display: none;
    }
}