<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
            <img class="title-image img-fluid" src="../images/Face-01-small.png"/>
            <img class="title-name img-fluid" src="../images/Name-01-small.png"/>
        </a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="fas fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse @NavMenuCssClass" @onclick="ToggleNavMenu">
            <div class="container-fluid">
                <ul class="row navbar-nav main-pages">
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            Home
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="about">
                            About
                        </NavLink>
                    </li>
                </ul>
                <ul class="row navbar-nav flex-row social-media no-gutters">
                    <li class="nav-item px-3">
                        <a href="https://twitter.com/ACPWinitiate" target="_blank"><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="https://github.com/onelioubov" target="_blank"><i class="fab fa-github fa-lg"></i></a>
                    </li>
                    <li class="nav-item pl-3">
                        <a href="https://www.linkedin.com/in/olga-nelioubov-b04a0389/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? null : "show";

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}