.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1 0 auto;
}

@media (min-width: 825px) {

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}