@page "/about"

<div class="text-center py-xl-5">
    <img class="index-title-image img-fluid" src="../images/Face-01.png" alt="Headshot"/>
</div>
<div class="container my-xl-5 about-container">
    <div class="about-text">
        <p>Hi there! I'm Olga, a Software Engineer working within the .NET/Azure space and whose current focus is to
            facilitate solutions to developer and platform needs within my organization.</p>
        <p>Over the years, I have become passionate about community-building and making sure there is a place for
            marginalized groups within the tech space. To facilitate this, I co-founded, and currently mentor at, Inclusive
            Tech Buffalo which is a group that strives to make the tech community more accessible to women and
            underrepresented individuals in Buffalo. Additionally, I co-organized the DevOpsDays Buffalo conference which
            focuses on topics ranging from software development to infrastructure and everything in between, while also
            putting a large emphasis on diversity and inclusion.</p>
        <p>During the rest of my time, I enjoy photography, aerial acrobatics, reading, and spending time with my elderly
            ferret, Arya. I like Star Trek.</p>
    </div>
</div>
