.banner {
    padding-top: 20rem;
    background-size: cover;
    background-position: center;
}

.blog-container {
    margin-top: 5rem;
}

.blog-container .blockquote {
    margin-left: 1rem;
}

.title-text {
    margin-bottom: 2rem;
}

.published-date {
    margin-bottom: 2rem;
}

.tags-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
}

.tag {
    background-color: #8cb1bf;
    margin-left: 0.5rem;
}