@page "/blog"
@using blog.Shared
@inject HttpClient Http

@if (blogPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="blog-posts container my-xl-5">
        <ul class="blog-list">
        @foreach (var post in blogPosts)
        {
            <li class="post">
                <Card BlogPost="@post"/>
            </li>
        }
        </ul>
    </div>
}

@code {
    
    private IEnumerable<Post> blogPosts;

    protected override async Task OnInitializedAsync() =>
        blogPosts = await Http.GetFromJsonAsync<IEnumerable<Post>>("/BlogPosts");
}