.banner {
    padding-top: 20rem;
    background-size: cover;
    background-position: center;
}

.blog-container {
    margin-top: 5rem;
}

.blog-container .blockquote {
    margin-left: 1rem;
}

.title-text {
    margin-bottom: 2rem;
}

.published-date {
    margin-bottom: 3rem;
}