@page "/blog/{blogSlug}"
@using blog.Shared
@using System.Net
@inject HttpClient Http
@inject MarkdownPipeline Mkdn

@if (post == null)
{
    <p>No blog post found.</p>
}
else
{
    <div class="container text-center">
        <h1>@post.Title</h1>
        <div>
            <h3>@post.PublishedDate.ToLongDateString()</h3>
            @PostContent
        </div>
    </div>
}

@code {
    private Post? post { get; set; }

    [Parameter]
    public string BlogSlug { get; set; }
    
    private string RenderHtmlContent(string value) => Markdown.ToHtml(value, Mkdn);
    
    private MarkupString PostContent => (MarkupString)RenderHtmlContent(post.Content);

    protected override async Task OnInitializedAsync() 
    {
        var response = await Http.GetAsync($"/BlogPosts/{BlogSlug}");

        if (response.StatusCode == HttpStatusCode.OK)
        {
            post = await response.Content.ReadFromJsonAsync<Post>();
        }
    }
}