@page "/"
@using blog.Shared
@inject HttpClient Http

<div class="container page-header">
    <h1 class="text-center py-4"><b>Hello there!</b></h1>
    <p class="text-center">I'm Olga, a software engineer working in the .NET/Azure space. These are some of my ramblings.</p>
    <hr/>
</div>

@if (blogPosts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="blog-posts container my-xl-5">
        @foreach (var post in blogPosts)
        {
            <div class="blog-post">
                <img class="title-image" src=@post.TitleImage.Url alt="Title Image"/>
                <Card BlogPost="@post" />
            </div>
        }
    </div>
}

@code {
    
    private List<Blog> blogPosts;

    protected override async Task OnInitializedAsync() =>
        blogPosts = await Http.GetFromJsonAsync<List<Blog>>("/BlogPosts");
}