.page-header {
    padding-top: 5rem;
}

.page-header p {
    padding-bottom: 3rem;
}

.blog-posts {
    position: relative;
}

.blog-post {
    position: relative;
    overflow: auto;
}

@media (min-width: 825px) {
    .title-image {
        height: 15rem;
        width: auto;
        float: left;
        padding-top: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 992px) {
    .title-image {
        height: 10rem;
    }
}

@media (max-width: 824.98px) {
    .title-image {
        height: auto;
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}